.searchbar {
    width: 100%;
    display: block;
    font-size: 0;
    height: min-content;
    text-align: center;
}

:root {
    --search-rad: 20px
}

div.searchbar input[type=text] {
    font-family: Poppins, sans-serif;
    height: 30px;
    width: calc(100% - 12px - 40px);
    padding: 5px 20px;
    border-bottom-left-radius: var(--search-rad);
    border-top-left-radius: var(--search-rad);
    border: 2px solid var(--highlight);
    vertical-align: middle;
    display: inline-block;
}

div.searchbar button {
    display: inline-block;
    height: 30px;
    width: 40px;
    padding: 5px;
    border-bottom-right-radius: var(--search-rad);
    border-top-right-radius: var(--search-rad);
    border: 2px solid var(--highlight);
    background-color: var(--highlight);
    color: var(--main);
    vertical-align: middle;
    cursor: pointer;
}

div#results {
    min-height: 50%;
}

div.player {
    display: block;
    height: 100px;
    overflow: hidden;
    border-radius: var(--search-rad);
    filter: drop-shadow(0px 0px 1px #FFFFFF0F);
    box-shadow: 0px 4px 8px #000;
    background-color: var(--main);
    border: 2px solid var(--highlight);
    cursor: pointer;
    transition: .1s ease;
    margin-bottom: 10px;
}
div.player .skull {
    float: left;
    position: relative;
    max-height: 100%;
    padding-right: 20px;
}
div.player .username {
    transition: .2s ease;
    color: var(--alt);
    padding: 0;
    margin: 0;
}
div.player .relevancy {
    padding: 0;
    margin: 0;
}
div.player .relevancy b {
    color: var(--alt);
}
div.player:hover {
    transform: scale(1.1);
    transition: .1s ease;
    z-index: 10;
}
div.player:hover .username {
    letter-spacing: 3px;
    transition: .7s ease;
}